$background-main:#ffffff;

*{
  margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
}
/*Start Home*/
#home{
    background: $background-main;
    display: flex;
    flex-wrap: wrap;
     align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
    
}
@media (max-width: 576px) {
  
  html{
    width: 600px;
    padding: 0;
    margin: auto;
  }
  #home-left{
    width: 1000px;
    height: 30%;
    margin: 0;
  }
  #home-right{

    #box-login{
       top:-130px;
       box-shadow:none;
       left: 100px;
       .title{
          display: none !important;
       }
       .form-group{
          label{
            font-size: 40px !important;
          }
          input{
            height: 60px !important;
          }
        
       }

    }
  }
}





/*End Home*/




