
#home-left{
    background: #55cbb0 url('../../img/terra-logo.png') no-repeat center     ;
    width: 50%;
    z-index: 1;
    align-items: center;
    align-content: center;
    color: #fff;
    #first-mess{
        text-align: center;
        height: 430px;
        line-height: 760px;
        
    }
    #copy-right{
        text-align: center;
        margin-top: 23%;
    }
    
}
